@font-face {
    font-family: 'fonte-titulo';
    src: url(./fontes/GavolineDemo.otf);
}

:root{
    --cor1: #ceffc5;
    --cor2: #47a449;
    --cor3: rgb(2, 52, 0);
    --cor4: #3e7533;
}

body{
    background-image: url(./imagens/fundo-estrelas.jpg);
    height: 96vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "fonte-titulo", sans-serif;
}

.jogo-dos-sons{
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
    color: var(--cor1);
}

.titulo{
    font-size: 40px;
    color: var(--cor1);
}

.categorias{
    background-image: url(./imagens/fundo.jpg);
    border-radius: 20px;
    padding: 10px;
}
.tecla {
    background-color: var(--cor4);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px var(--cor3);
    color: white;
    width: 120px;
    height: 80px;
    font-weight: bold;
    margin: 40px;
    transition: background-color 0.3s;
    font-size: 1em;

  }
  
  .tecla:hover {
    background-color: var(--cor2);
    color: var(--cor3);
  }

  div{
    background-color: #3e7533;
  }